.demo-table {
  width: 100%;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
  font-size: 20px;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.comp-add-btn {
  background-color: var(--sys-primary);
  color: var(--sys-background);
  margin: 4px;
}

.comp-delete-btn{
  background-color: var(--sys-background);
  color: var(--sys-primary);
  margin: 4px;
}

.comp-info-label{
  margin-right: 16px;
}

.comp-totalprice-label{
  font-size: 42px;
  color: aqua;
  vertical-align:middle;
}