<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="demo-position">
    <th mat-header-cell *matHeaderCellDef> Component </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="demo-weight">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.productChosen">
        <mat-label class="comp-info-label">Chosen product: {{element.chosenProduct.name}}</mat-label>
        <mat-label class="comp-info-label">{{element.chosenProduct.chipset}}</mat-label>
        <mat-label class="comp-info-label">Price: {{element.chosenProduct.price | currency}}</mat-label>
        <button mat-raised-button (click)="removeComponent(element)">Remove</button>
      </ng-container>

      <ng-container *ngIf="!element.productBrowserActive && !element.productChosen">
        <button mat-raised-button class="comp-add-btn"
        (click)="toggleBrowser(element)">+ Choose</button>
      </ng-container>
    
      <ng-container *ngIf="element.productBrowserActive" >
        <div @slideDownUp>
          <div>This is the product browser</div>
          <mat-list>
            <mat-list-item *ngFor="let product of element.browsableProducts">
              <mat-label class="comp-info-label">{{product.name}}</mat-label>
              <mat-label class="comp-info-label">{{product.chipset}}</mat-label>
              <mat-label class="comp-info-label">Cores: {{product.coreCount}}</mat-label>
              <mat-label class="comp-info-label">Price: {{product.price | currency}}</mat-label>
                <button mat-raised-button class="comp-add-btn"(click)="chooseComponent(element, product)">
                  <b>+</b>
                </button>
            </mat-list-item>
          </mat-list>
        </div>

      </ng-container>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-label class="comp-totalprice-label">TOTAL: {{totalPrice | currency}}</mat-label>
<button mat-raised-button class="comp-add-btn"(click)="totalPriceCalculator()">CALCULATE</button>
