<p-table [value]="dataSource" class="p-datatable-sm demo-table">
  <ng-template pTemplate="header">
    <tr>
      <th>Component</th>
      <th>Chosen product</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-element>
    <tr>
      <td>{{ element.name }}</td>
      <td>
        <ng-container *ngIf="element.productChosen">
          <div class="comp-info-label">Chosen product: {{element.chosenProduct.name}}</div>
          <div class="comp-info-label">{{element.chosenProduct.chipset}}</div>
          <div class="comp-info-label">Price: {{element.chosenProduct.price | currency}}</div>
          <p-button label="Remove" (click)="removeComponent(element)"></p-button>
        </ng-container>

        <ng-container *ngIf="!element.productBrowserActive && !element.productChosen">
          <p-button label="+ Choose" class="comp-add-btn" (click)="toggleBrowser(element)"></p-button>
        </ng-container>

        <ng-container *ngIf="element.productBrowserActive">
          <div @slideDownUp>
            <div>This is the product browser</div>
            <p-listbox [options]="element.browsableProducts" optionLabel="name" [style]="{ width: '100%' }">
              <ng-template let-product pTemplate="item">
                <div class="p-d-flex p-ai-center">
                  <div class="comp-info-label">{{ product.name }}</div>
                  <div class="comp-info-label">{{ product.chipset }}</div>
                  <div class="comp-info-label">Cores: {{ product.coreCount }}</div>
                  <div class="comp-info-label">Price: {{ product.price | currency }}</div>
                  <p-button icon="pi pi-plus" class="comp-add-btn" (click)="chooseComponent(element, product)"></p-button>
                </div>
              </ng-template>
            </p-listbox>
          </div>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="comp-totalprice-label">TOTAL: {{ totalPrice | currency }}</div>
<p-button label="CALCULATE" class="comp-add-btn" (click)="totalPriceCalculator()"></p-button>
