<div class="card">
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-5/12 flex flex-col items-center justify-center gap-3 py-5">
            <p-toast />
            <form [formGroup]="form" class="flex flex-col gap-2" (ngSubmit)="onSubmit()">
                <div class="flex flex-col gap-2">
                    <p-floatlabel variant="on">
                        <input pInputText id="on_label_email" formControlName="email" autocomplete="off" />
                        <label for="on_label_email">Email</label>
                    </p-floatlabel>
                    <div class="error-feedback"
                        *ngIf="hasDisplayableError('email') && form.controls.email.hasError('required')">
                        Please enter your email address.
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <p-floatlabel variant="on">
                        <p-password [toggleMask]="true" [feedback]="false" id="on_label_password" formControlName="password" autocomplete="off" />
                        <label for="on_label_password">Password</label>
                    </p-floatlabel>
                    <div class="error-feedback"
                        *ngIf="hasDisplayableError('password') && form.controls.password.hasError('required')">
                        Please enter your password.
                    </div>
                </div>
                <div class="flex">
                    <p-button label="Login" icon="pi pi-user" class="w-full max-w-[17.35rem]"
                        styleClass="w-full mx-auto" type="submit" />
                </div>
                <div class="flex">
                    <p-button label="Logout" icon="pi pi-user" class="w-full max-w-[17.35rem]"
                        styleClass="w-full mx-auto" (click)="onLogout()" />
                </div>
            </form>
        </div>
        <div class="w-full md:w-2/12">
            <p-divider layout="vertical" class="!hidden md:!flex"><b>OR</b></p-divider>
            <p-divider layout="horizontal" class="!flex md:!hidden" align="center"><b>OR</b></p-divider>
        </div>
        <div class="w-full md:w-5/12 flex items-center justify-center py-5">
            <p-button (click)="navigateToRegistration()" label="Sign Up" icon="pi pi-user-plus"
                class="w-full max-w-[17.35rem]" styleClass="w-full mx-auto" />
        </div>
    </div>
</div>