<p-contextMenu #cm [model]="menuItems"></p-contextMenu>

<p-toolbar>
    <div class="p-toolbar-group-left">
        <span>PC PART PICKER</span>
        <p-button [ngStyle]="{'background-color': showProductsBar ? '#19241E' : '#0F1511'}" (click)="toggleProducts()"
            pTooltip="Open product categories" label="Products" class="main-buttons">
        </p-button>


        <p-button [ngStyle]="{'background-color': showSearchBar ? '#19241E' : '#0F1511'}" (click)="toggleSearch()"
            label="Search" class="main-buttons">
        </p-button>

        <!-- <p-inputGroup *ngIf="showSearchBar" @slideUpDown>
            <p-inputText #txtVal (keydown.enter)="searchProducts()" placeholder="Search something..."
                [(ngModel)]="searchQuery">
            </p-inputText>
            <p-button *ngIf="searchQuery" icon="pi pi-times" (click)="cleanSearch()" styleClass="p-button-text">
            </p-button>
            <p-button icon="pi pi-search" (click)="searchProducts()" styleClass="p-button-text">
            </p-button>
        </p-inputGroup> -->
    </div>

    <div class="p-toolbar-group-right">
        <p-button (click)="navigateToConfigurator()" label=" " icon="pi pi-wrench" class="main-buttons"
            [badge]="buildFilledCount.toString()" pTooltip="Configuration">
        </p-button>
        <p-button label=" " icon="pi pi-shopping-cart" class="p-button-rounded p-button-text me-3"
            [badge]="cartSize.toString()" (click)="navigateToCart()" pTooltip="Shopping Cart"></p-button>
        <p-button label=" " icon="pi pi-sliders-h" class="p-button-rounded p-button-text"
            [badge]="comparisonCount.toString()" (click)="goToComparison()" (contextmenu)="onRightClick($event)"
            pTooltip="Comparison Table">
        </p-button>
        <p-button *ngIf="!isLoggedIn" (click)="navigateToAccount()" label="Login" class="main-buttons" severity="info">
        </p-button>
        <p-button *ngIf="isLoggedIn" (click)="onLogout()" label="Logout" class="main-buttons" severity="danger">
        </p-button>
    </div>
    <div *ngIf="showProductsBar" @slideDownUp>
        <div>
            <p-toggleButton *ngFor="let c of categories" [onLabel]="c.label" [offLabel]="c.label"
                [ngModel]="activeCategory === c.key" (onChange)="onToggleCategory(c, $event.checked!)"
                styleClass="p-button-outlined" class="m-2"></p-toggleButton>
        </div>
    </div>
</p-toolbar>