<p-contextMenu #cm [model]="menuItems"></p-contextMenu>

<p-toolbar>
    <div class="p-toolbar-group-left">
        <span>PC PART PICKER</span>
        <p-button [ngStyle]="{'background-color': showProductsBar ? '#19241E' : '#0F1511'}" (click)="toggleProducts()"
            pTooltip="Open product categories" label="Products" class="main-buttons">
        </p-button>
        <p-button (click)="navigateToConfigurator()" label=" " icon="pi pi-wrench" class="main-buttons"
            [badge]="buildFilledCount.toString()" pTooltip="Configuration" label="Configuration">
        </p-button>
        <p-button label=" " icon="pi pi-sliders-h" class="p-button-rounded p-button-text" class="main-buttons"
            [badge]="comparisonCount.toString()" (click)="goToComparison()" (contextmenu)="onRightClick($event)"
            label="Comparison table" pTooltip="Comparison Table">
        </p-button>
    </div>

    <div class="p-toolbar-group-right">
        <p-button label=" " icon="pi pi-shopping-cart" class="p-button-rounded p-button-text me-3"
            [badge]="cartSize.toString()" (click)="navigateToCart()" pTooltip="Shopping Cart"></p-button>
        <p-button *ngIf="isLoggedIn" icon="pi pi-user" class="p-button-rounded p-button-text me-3" (click)="navigateToProfile()"
            pTooltip="Account"></p-button>
        <p-button *ngIf="!isLoggedIn" (click)="navigateToAccount()" label="Login" class="main-buttons" severity="info">
        </p-button>
        <p-button *ngIf="isLoggedIn" (click)="onLogout()" label="Logout"  severity="danger">
        </p-button>
    </div>
    <div *ngIf="showProductsBar" @slideDownUp>
        <div>
            <p-toggleButton *ngFor="let c of categories" [onLabel]="c.label" [offLabel]="c.label"
                [ngModel]="activeCategory === c.key" (onChange)="onToggleCategory(c, $event.checked!)"
                styleClass="p-button-outlined" class="m-2"></p-toggleButton>
        </div>
    </div>
</p-toolbar>