:root,
:host {
    --sys-background: #0f1511;
    --sys-on-background: #dee4de;
    --sys-surface: #0f1511;
    --sys-surface-dim: #0f1511;
    --sys-surface-bright: #353b36;
    --sys-surface-container-lowest: #0a0f0c;
    --sys-surface-container-low: #171d19;
    --sys-surface-container: #1b211d;
    --sys-surface-container-high: #262b27;
    --sys-surface-container-highest: #303632;
    --sys-on-surface: #dee4de;
    --sys-surface-variant: #404943;
    --sys-on-surface-variant: #bfc9c2;
    --sys-inverse-surface: #dee4de;
    --sys-inverse-on-surface: #2c322e;
    --sys-outline: #8a938c;
    --sys-outline-variant: #404943;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #8cd5b4;
    --sys-primary: #8cd5b4;
    --sys-on-primary: #003827;
    --sys-primary-container: #005139;
    --sys-on-primary-container: #a7f2cf;
    --sys-inverse-primary: #1e6b4f;
    --sys-secondary: #8cd5b4;
    --sys-on-secondary: #003827;
    --sys-secondary-container: #00513a;
    --sys-on-secondary-container: #a7f2d0;
    --sys-tertiary: #8bd0ef;
    --sys-on-tertiary: #003546;
    --sys-tertiary-container: #004d64;
    --sys-on-tertiary-container: #bde9ff;
    --sys-error: #ffb4ab;
    --sys-on-error: #561e19;
    --sys-error-container: #73342d;
    --sys-on-error-container: #ffdad5;
    --sys-neutral: #727873;
    --sys-neutral-variant: #707973;
    --sys-primary-fixed: #a7f2cf;
    --sys-primary-fixed-dim: #8cd5b4;
    --sys-on-primary-fixed: #002115;
    --sys-on-primary-fixed-variant: #005139;
    --sys-secondary-fixed: #a7f2d0;
    --sys-secondary-fixed-dim: #8cd5b4;
    --sys-on-secondary-fixed: #002115;
    --sys-on-secondary-fixed-variant: #00513a;
    --sys-tertiary-fixed: #bde9ff;
    --sys-tertiary-fixed-dim: #8bd0ef;
    --sys-on-tertiary-fixed: #001f2a;
    --sys-on-tertiary-fixed-variant: #004d64;
    --sys-inverse-secondary: #1d6b50;
    --sys-inverse-tertiary: #116682;
    --sys-inverse-error: #904a43;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}