.main-buttons {
  margin: 12px 12px 12px 12px;
  height: 56px;
}

.card-container {
  display: flex;
  background: var(--sys-background);
  /* border-bottom-style: solid; */
  border-color: var(--sys-primary);
  flex-wrap: wrap;
  /* Ensure the cards wrap to the next row */
  justify-content: space-around;
  /* Space out cards evenly */
  margin-top:12px;
  margin-bottom:12px;
}

mat-card {
  width: calc(25% - 16px);
  /* Ensure 4 cards per row */
  margin: 8px;
  padding: 16px;
  /* Padding inside the card */

}

mat-card-title,
mat-card-content {
  color: var(--sys-on-surface-variant);
  /* Bright white text */
  font-weight: bold;
  /* Optional: make it bold */
}

.example-spacer {
  flex: 1 1 auto;
}

mat-form-field{
  margin: 12px;
  width: 350px;
  padding-top: 24px;
}